.title {
  font-size: 2em;
}

.table > tbody > tr > td {
  vertical-align: middle;
}

.table > tbody > tr > td > img {
  margin: 0 10px 0 0;
}

.search-input {
  margin-top: 35px;
}

.mb20 {
  margin-bottom: 20px;
}